.nav-item{
    margin-right: 300px;
    border-radius: 5px; /* Agrega un borde redondeado */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    
}

.nav-link{
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 5px; /* Agrega un borde redondeado */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
}

a{
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 5px; /* Agrega un borde redondeado */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    text-decoration: none; /* Elimina el subrayado */
    color: inherit;
}