{% extends 'base.html' %} {% block title %}Bienvenido a onlyflans{% endblock %}
{% block 'content' %} {% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
</head>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-header text-center bg-primary text-white">
          <h3>Contáctanos</h3>
        </div>
        <div class="card-body">
          <form
            action="/contacto"
            method="post"
            class="needs-validation"
            novalidate
          >
            {% csrf_token %} {{ form.non_field_errors }}

            <div class="form-group">
              <label for="{{ form.customer_name.id_for_label }}"
                >{{ form.customer_name.label_tag }}</label
              >
              {{ form.customer_name }}
              <div class="invalid-feedback">
                {{ form.customer_name.errors }}
              </div>
            </div>
            <div class="form-group">
              <label for="{{ form.customer_email.id_for_label }}"
                >{{ form.customer_email.label_tag }}</label
              >
              {{ form.customer_email }}
              <div class="invalid-feedback">
                {{ form.customer_email.errors }}
              </div>
            </div>
            <div class="form-group">
              <label for="{{ form.message.id_for_label }}"
                >{{ form.message.label_tag }}</label
              >
              {{ form.message }}
              <div class="invalid-feedback">{{ form.message.errors }}</div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
