{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Bienvenido a onlyflans{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% block 'content' %}
    <div class="container">
      <h1>Flanes Publicos</h1>
    </div>
    <div class="row">
      {% for flan in flanes %}
      <div class="col-md-3">
        <div class="card">
          <img
            src="{{ flan.image_url }}"
            class="card-img-top"
            alt="{{ flan.name }}"
          />
          <div class="card-body">
            <h5 class="card-title">{{ flan.name }}</h5>
            <p class="card-text" id="description{{ forloop.counter }}">
              {{ flan.description }}
              </p>
              
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endblock %}
  </body>
</html>
