{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/style2.css' %}" />
</head>
<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" src href="#"><img src="{% static 'img/icono.png' %}" alt="logo" height="50px"></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'indice'%}"
              >Inicio</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'acerca'%}"
              >Acerca</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'promocion' %}"
              >Promocion</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'direccion'%}"
              >Direccion</a
            >
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'bienvenido' %}"
              >Bienvenido</a
            >
          </li>
          {% endif %}
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{% url 'contacto'%}"
              >Contacto</a
            >
          </li>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item"></li>
          <li> <a class="nav-link" href="{% url 'logout'%}?next=/">Logout</a></li>"
        {% else %}
           <li><a href="{% url 'login'%}?next=/bienvenido">Login</a></li>
        {% endif %}
      </ul>
        </ul>
      </div>
    </div>
  </nav>
</div>
{% if user.is_authenticated and request.path == '/bienvenido' %}
<div class="container mt-3">
  <div class="alert alert-success welcome-message" role="alert">
    <div class="welcome-text">
      ¡Hola, {{ user.get_username }}! ¡Qué bueno verte de nuevo!
    </div>
  </div>
</div>
{% endif %}
</div>