{% extends 'base.html' %} {% block contenido %} {% if user.is_authenticated %}
<h1 class="contact-title">Mensajes recibidos</h1>
<div class="message-container">
  {% for m in messages %}
  <div class="message-card">
    <div class="message-body">
      <h2 class="message-sender">Mensaje de {{ m.name }}</h2>
      <ul>
        <li><strong>Inmueble:</strong> {{ m.nombre_inmueble }}</li>
        <li><strong>Correo:</strong> {{ m.correo }}</li>
        <li><strong>Nombre remitente:</strong> {{ m.name }}</li>
        <li><strong>Mensaje:</strong> {{ m.mensaje }}</li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
<a href="{% url 'logout' %}" class="logout-link">Logout</a>
{% else %}
<h1 class="login-prompt">Debes iniciar sesión para acceder al contenido</h1>
<a href="{% url 'login_url' %}" class="login-link">Login</a>
{% endif %} {% endblock contenido %}
